.navbar {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
  
  .navbar-title {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    color: white;
  }
  