.border-box {
    border: 1px;
    border-style: double;
    border-color: black;
    border-radius: 1em;
    background-color: aqua;
    margin: 1em;
    padding: 1em;
}

.Main-Container {
    display: flex;
    justify-content: center;

}